header {
    background-color: rgba(255, 255, 255, 255);
    display: flex;
    width: 100%;
    height: 80px;
}

body {
    background-color: #f2f7fb;
}

.container {
    display: flex;
}

.name {
    float: left;
    left: 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
}

.searchTerm {
    width: 63%;
    border: none;
    border-right: none;
    padding: 5px;
    height: 78%;
    margin-left: 10px;
    margin-bottom: 4px;
    border-radius: 5px 0 0 5px;
    background-color: rgba(242, 247, 251, 255);
    outline: none;
}

.searchTerm:focus {
    color: orange;
}

.searchButton {
    width: 42px;
    height: 40px;
    border: 1px solid rgba(255, 187, 46, 255);
    text-align: center;
    color: #fff;
    background-color: rgba(255, 187, 46, 255);
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 60%;
    position: relative;
    top: 70%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.qrbutton {
    height: 100%;
    float: left;
    font-size: 20px;
    display: block;
    background-color: rgba(255, 187, 46, 255);
    border: none;
    cursor: pointer;
    margin-left: 1%;
    color: white;
    position: relative;
    border-radius: 5px 5px 5px 5px;
    width: 42px;
}

.add-btn {
    height: 100%;
    float: left;
    font-size: 10px;
    display: block;
    background-color: #ff6565;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 1%;
    position: relative;
    border-radius: 5px 5px 5px 5px;
    width: 90px;
}

.orderno {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 0%;
}

.opentime {
    margin-top: 0%;
    text-align: right;
    font-size: 10px;
    color: #c5c5c5;
}

.search {
    width: 136%;
    position: relative;
    display: flex;
    height: 50%;
    background-color: rgb(255 255 255);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bellbutton {
    height: 100%;
    float: left;
    font-size: 20px;
    display: block;
    background-color: rgba(255, 187, 46, 255);
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 1%;
    position: relative;
    border-radius: 5px 5px 5px 5px;
    width: 42px;
}

.ordertime {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.leftcontainer {
    background-color: rgba(255, 255, 255, 255);
    width: 18%;
    float: left;
    height: 100%;
    margin-top: 1%;
    position: absolute;
}

.cashiername {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 18%;
}

.cashier {
    text-align: center;
    margin-top: 0%;
}

.smallcards {
    height: 70px;
    width: 70px;
    float: left;
    cursor: pointer;
    align-content: center;
    margin-left: 15%;
    margin-bottom: 40px;
    border-radius: 15px 15px 15px 15px;
    background-color: #f2f7fb;
}

.orderbtn {
    background-color: #ff6565 !important;
    color: white !important;
}

.homebtn {
    color: #bcbcbc;
    border: none;
    background-color: #f2f7fb;
    font-size: 20px;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.cook {
    height: 18%;
    width: 58%;
    margin-left: 15%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.premium {
    border: none;
    margin-left: 27%;
    background-color: black;
    color: #f2f7fb;
    border-radius: 10px 10px 10px 10px;
    height: 4%;
    width: 44%;
    margin-bottom: 1%;
}

.maincontainer {
    display: flex;
}

.mainbar {
    display: flex;
    background-color: rgba(255, 255, 255, 255);
    width: 59%;
    height: 20%;
    position: absolute;
    border-top-right-radius: 15px;
    flex-wrap: wrap;
    border-bottom-right-radius: 30px;
    margin-top: 1%;
    margin-left: 18%;
}

.category {
    font-weight: bold;
}

.category-plus {
    color: #ff6565;
    margin-left: 5px;
    margin-top: 20px;
    font-size: 13px;
}

.view-all {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 70%;
    font-size: 13px;
}

.all-items {
    border: none;
    background-color: #f2f7fb;
    height: 30%;
    color: black;
    font-weight: 550;
    width: 15%;
    border-radius: 25px;
    margin-left: 3%;
    font-size: 11px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.pizza-border {
    border: 1px solid #ff6565 !important;
}

.centercontainer {
    display: flex;
    background-color: #f2f7fb;
    width: 59%;
    height: 80%;
    position: absolute;
    display: block;
    margin-left: 18%;
    margin-top: 10%;
}

.cards {
    background-color: rgba(255, 255, 255, 255);
    height: 280px;
    width: 280px;
    margin-left: 2%;
    margin-top: 2%;
    float: left;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.full-width-img {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-top: 2%;
    margin-right: auto;
    display: block;
}

.pizzasizes {
    display: flex;
    width: auto;
    height: 12%;
    margin-left: 10%;
    float: left;
    border: none;
    border-color: none;
    margin-right: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pizza-dsizes {
    background-color: #ff6565;
    border: none;
    color: #f2f7fb;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pizza-sizes {
    background-color: #f2f7fb;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pizza-msizes {
    border: none;
    background-color: #f2f7fb;
}

.pizza-lsizes {
    border: none;
    background-color: #f2f7fb;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pizza-name {
    text-align: center;
    height: 10px;
    margin-top: 0%;
}

.pizza-price {
    text-align: center;
    margin-top: 0%;
}

.smalltxt {
    color: black;
    margin-top: 0%;
    text-align: center;
    display: block;
    color: #bcbcbc;
    font-size: 15px;
}

.addedbtn {
    float: left;
    display: block;
    width: 40%;
    background-color: #ff6565;
    color: #f2f7fb;
    cursor: pointer;
    border: none;
    height: 12%;
    margin-left: 10%;
    border-radius: 10px 10px 10px 10px;
    margin-right: auto;
}

.addbtn {
    float: left;
    display: block;
    width: 40%;
    color: #ff6565;
    cursor: pointer;
    height: 12%;
    border: 1px solid #ff6565;
    margin-left: 10%;
    border-radius: 10px 10px 10px 10px;
    margin-right: auto;
}

.rightcontainer {
    display: flex;
    background-color: rgba(255, 255, 255, 255);
    width: 20%;
    height: 80%;
    border-radius: 15px 15px 15px 15px;
    position: absolute;
    margin-top: 1%;
    margin-left: 78.2%;
}