header {
    background-color: rgba(255, 255, 255, 255);
    display: flex;
    width: 100%;
    height: 80px;
}

body {
    background-color: #f2f7fb;
}

.container {
    display: flex;
}

.name {
    float: left;
    left: 6%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
}

.searchTerm {
    width: 63%;
    border: none;
    border-right: none;
    padding: 5px;
    height: 78%;
    margin-left: 10px;
    margin-bottom: 4px;
    border-radius: 5px 0 0 5px;
    background-color: rgba(242, 247, 251, 255);
    outline: none;
}

.searchTerm:focus {
    color: orange;
}

.searchButton {
    width: 42px;
    height: 40px;
    border: 1px solid rgba(255, 187, 46, 255);
    text-align: center;
    color: #fff;
    background-color: rgba(255, 187, 46, 255);
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    font-size: 20px;
}

.wrap {
    width: 60%;
    position: relative;
    top: 70%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.qrbutton {
    height: 100%;
    float: left;
    font-size: 20px;
    display: block;
    background-color: rgba(255, 187, 46, 255);
    border: none;
    cursor: pointer;
    margin-left: 1%;
    color: white;
    position: relative;
    border-radius: 5px 5px 5px 5px;
    width: 42px;
}

.add-btn {
    height: 100%;
    float: left;
    font-size: 10px;
    display: block;
    background-color: #ff6565;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 1%;
    position: relative;
    border-radius: 5px 5px 5px 5px;
    width: 110px;
}

.orderno {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 0%;
}

.opentime {
    margin-top: 0%;
    text-align: right;
    font-size: 10px;
    color: #c5c5c5;
}

.search {
    width: 136%;
    position: relative;
    display: flex;
    height: 50%;
    background-color: rgb(255 255 255);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bellbutton {
    height: 100%;
    float: left;
    font-size: 20px;
    display: block;
    background-color: rgba(255, 187, 46, 255);
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 1%;
    position: relative;
    border-radius: 5px 5px 5px 5px;
    width: 42px;
}

.ordertime {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

.leftcontainer {
    background-color: rgba(255, 255, 255, 255);
    width: 18%;
    float: left;
    height: 100%;
    margin-top: 1%;
    position: absolute;
}

.cashiername {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 18%;
}

.cashier {
    text-align: center;
    margin-top: 0%;
}

.smallcards {
    height: 70px;
    width: 70px;
    float: left;
    cursor: pointer;
    align-content: center;
    margin-left: 15%;
    margin-bottom: 40px;
    border-radius: 15px 15px 15px 15px;
    background-color: #f2f7fb;
}

.orderbtn {
    background-color: #ff6565 !important;
    color: white !important;
}

.homebtn {
    color: #bcbcbc;
    border: none;
    background-color: #f2f7fb;
    font-size: 20px;
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.cook {
    height: 130px;
    width: 58%;
    margin-left: 15%;
    margin-top: -7%;
    margin-bottom: -30%;
}

.display {
    background-color: #ffeeee;
    border-radius: 15px;
    height: 145px;
    width: 68%;
    margin-left: 14%;
}

.premium {
    border: none;
    margin-left: 27%;
    background-color: black;
    color: #f2f7fb;
    border-radius: 10px 10px 10px 10px;
    height: 4%;
    margin-top: -17%;
    position: absolute;
    width: 44%;
    margin-bottom: 1%;
}

.maincontainer {
    display: flex;
}

.mainbar {
    display: flex;
    background-color: rgba(255, 255, 255, 255);
    width: 57.7%;
    height: 140px;
    position: relative;
    border-top-right-radius: 15px;
    flex-wrap: wrap;
    border-bottom-right-radius: 30px;
    margin-top: 1%;
    margin-left: 18%;
}

.category {
    font-weight: bold;
    margin-left: 2%;
}

.main-shape {
    display: flex;
}

.main-img-small {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    float: left;
    background-color: white;
}

.category-plus {
    color: #ff6565;
    margin-left: 5px;
    margin-top: 20px;
    font-size: 13px;
}

.view-all {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 70%;
    font-size: 13px;
}

.all-items {
    border: none;
    background-color: #f2f7fb;
    height: 30%;
    float: left;
    color: black;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15%;
    border-radius: 25px;
    margin-left: 4%;
    font-size: 11px;
    margin-top: -3%;
    margin-bottom: 0%;
}

.pizza-border {
    border: 1px solid #ff6565 !important;
    background-color: white;
}

.centercontainer {
    display: flex;
    background-color: #f2f7fb;
    width: 57%;
    height: 80%;
    position: absolute;
    display: block;
    margin-left: 18%;
    margin-top: 144px;
}

.cards {
    background-color: rgba(255, 255, 255, 255);
    height: 280px;
    width: 271px;
    margin-left: 2%;
    margin-top: 2%;
    float: left;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.full-width-img {
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-top: 2%;
    margin-right: auto;
    display: block;
}

.pizzasizes {
    display: flex;
    width: auto;
    height: 12%;
    margin-left: 10%;
    float: left;
    border: none;
    border-color: none;
    margin-right: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pizza-dsizes {
    background-color: #ff6565;
    border: none;
    color: #f2f7fb;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pizza-sizes {
    background-color: #f2f7fb;
    border: none;
    color: #bcbcbc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pizza-msizes {
    border: 1px solid #efefef;
    border-top: none;
    border-bottom: none;
    color: #bcbcbc;
    background-color: #f2f7fb;
}

.pizza-lsizes {
    border: none;
    background-color: #f2f7fb;
    color: #bcbcbc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pizza-name {
    text-align: center;
    height: 10px;
    margin-top: 0%;
}

.pizza-price {
    text-align: center;
    margin-top: 0%;
}

.smalltxt {
    color: black;
    margin-top: 0%;
    text-align: center;
    display: block;
    color: #bcbcbc;
    font-size: 15px;
}

.addedbtn {
    float: left;
    display: block;
    width: 40%;
    background-color: #ff6565;
    color: #f2f7fb;
    cursor: pointer;
    border: none;
    height: 12%;
    margin-left: 10%;
    border-radius: 10px 10px 10px 10px;
    margin-right: auto;
}

.addbtn {
    float: left;
    display: block;
    width: 40%;
    color: #ff6565;
    cursor: pointer;
    height: 12%;
    border: 1px solid #ff6565;
    margin-left: 10%;
    border-radius: 10px 10px 10px 10px;
    margin-right: auto;
}

.rightcontainer {
    background-color: rgba(255, 255, 255, 255);
    width: 22%;
    height: 97%;
    border-radius: 15px 15px 15px 15px;
    position: absolute;
    margin-top: 1%;
    margin-left: 76.2%;
}

.day-time {
    display: flex;
    width: 57%;
    margin-top: 5%;
    justify-content: flex-end;
    color: #bcbcbc;
    font-size: 13px;
}

.orderbill {
    margin-left: 5%;
    margin-top: 4%;
    width: 35%;
    float: left;
}

hr {
    border: 1px solid #f2f7fb;
}

.righttile {
    height: 10%;
    width: 90%;
    margin-top: 20px;
    margin-left: 5%;
    border: none;
    background-color: #f2f7fb;
    border-radius: 20px;
}

.rightimg {
    width: 22%;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    float: left;
    display: block;
}

.rightimgname {
    float: left;
    margin-bottom: 0%;
    display: flex;
}

.aligntxt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0%;
}

.no {
    background-color: white;
    border-radius: 15px;
    margin-top: 16px;
    height: 20px;
    width: 65px;
    display: flex;
    margin-right: 2%;
    justify-content: inherit;
}

.quantity {
    border: none;
    color: white;
    display: block;
    float: left;
    font-size: 15px;
    border-radius: 15px;
    background-color: #ffbb2e;
}

.price {
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.remove {
    color: red;
    font-size: 12px;
    margin-right: 3%;
}

.totaling {
    padding: 0% 1%;
}

.sub-total {
    display: flex;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 6%;
    font-size: 13px;
    font-family: sans-serif;
}

.tax {
    display: flex;
    justify-content: space-between;
    margin-left: 6%;
    margin-top: 1%;
    margin-right: 6%;
    font-family: sans-serif;
    font-size: 13px;
}

.price-bold {
    font-size: 16px;
    font-family: auto;
}

.dash {
    border: none;
    border-top: 2px dashed #1a1919;
    height: 1px;
    margin-left: 5%;
    margin-right: 5%;
}

.total {
    display: flex;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 6%;
    color: #ff6565;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 0%;
}

.total-price {
    font-size: 17px;
    font-family: auto;
    color: green;
}

.payment-method {
    margin-left: 6%;
    margin-top: inherit;
    float: left;
}

.right-flex-cards {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: -2%;
    width: 100%;
}

.rightsmallcards {
    height: 70px;
    width: 70px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    border-radius: 15px 15px 15px 15px;
}

.cashbtn {
    color: #bcbcbc;
    border: 1px solid #bcbcbc;
    background-color: #ffffff;
    font-size: 26px;
    display: block;
    width: 120%;
    padding: 28%;
    height: 92%;
    border-radius: 15px;
}

.ewallet {
    color: #fff !important;
    border: none !important;
    background-color: #ff6565 !important;
}

.place-order {
    background-color: #ff6565;
    border: none;
    border-radius: 10px;
    padding: 12px;
    color: white;
    font-weight: bold;
    width: 85%;
    margin-left: 8%;
    margin-top: 15%;
}

.cash {
    text-align: center;
    padding: 6px 0px;
    font-size: 14px;
    font-weight: lighter;
}

.debit-card {
    text-align: center;
    font-size: 14px;
    padding: 6px 0px;
    font-weight: lighter;
}

.e-wallet {
    text-align: center;
    font-size: 14px;
    font-weight: lighter;
    padding: 6px 0px;
}